footer{
    color: $color3;
    background-image:  url(../images/probando-fondo4.jpg);
    background-size: contein;
    background-position-x: center;
    width: 100%;
    box-shadow: 0px -5px 7px 0px rgba(59, 59, 59, 0.75);
    
    div{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        width: 70%;
        margin: auto;
        padding-top: 1rem;

        p{
            text-align: center;
            align-content: space-around;
            color: $color3;

            a{
                text-decoration: none;
                color: $color3;
            }

            a:hover{
                color: rgb(255, 131, 199);
            }
        }
    }

    .fab{
        font-size: 2rem;
        color: white;
        padding-bottom: 2rem;
    }
    .fab:hover{
        color: rgb(255, 131, 199);
    }
}