.headerEfecto{
    color: $color3;
    background-color: $color4;
    width: 100%;
}

.heroIndex{
    background-image: url(../images/hero-portolio.jpg);
    background-size: cover;
    width: 100%;
}

.contBlur{
    background-size: contain;
    width: 95%;
    height: fit-content;
    margin: 3rem auto;
    position: center;
    backdrop-filter: blur(0.5rem);
    z-index: 0;
    border-radius: 0.25rem;
    border: 0.15rem solid rgb(0, 0, 0);
    box-shadow: 10px 10px 5px rgba(29, 29, 29, 0.247), 0px -10px 5px rgba(32, 32, 32, 0.199);
}

.contBlurNegro{
    background-size: contain;
    width: 100%;
    height: fit-content;
    position: center;
    background-color: $color4;
    z-index: 0;
    border-radius: 0.25rem;
}

.containerServicios{
    background-color: rgba(0, 0, 0, 0.39);
    background-size: contain;
    width: 95%;
    height: fit-content;
    margin: 3rem auto;
    position: center;
}

.flex__servicios{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.flex__servicios--hijo{
    width: 320px;
    padding: 1%;
    text-align: center;
    animation-duration: 2s;
    align-content: space-around;
                i{
                    justify-content: space-evenly;
                    font-size: 3rem;
                    color: rgb(255, 255, 255);
                    margin-bottom: 0.5rem;
                }
                i:hover{
                    color: $color2;
                }
                h4{
                    text-align: center;
                    color: $color1;
                    font-weight: bold;
                }
                p{
                    text-align: left;
                    color: rgb(255, 255, 255);
                    font-size: 14px;
                }
                .pinkLine{
                    color: $color1;
                    font-size: 1rem;
                    text-align: center;
                }

}
