/*

.gallery-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 25rem;
    padding: 0.75rem;
    grid-gap: 0.50rem;
}

.gallery-img{
    width: 100%;
    object-fit: cover;
}

.gallery-item:nth-child(4){
    grid-column-start: span 2;
    grid-row-start: pan 1;

}
*/


/*--------------Productos: Galería con GRID: Info general-------------*/
/*--------------Productos: Galería con GRID: Info general-------------*/
/*--------------Productos: Galería con GRID: Info general-------------*/

#gallery {
    background-size: 100vh;
    justify-content: center;
}

#gallery h3 {
    color: $color2;
    text-align: center;
    justify-content: center;
}

.grid-item {
    min-height: auto;
    min-width: 100%;
    background-size: contain;
    border: 0.15rem solid $color2;
    border-radius: 0.2rem;
}

.grid-item:hover {
    transform: scale(1.04);
    transition: 0.5s;
    filter: none;
    box-shadow: 5px 5px 5px 1px rgba(43, 42, 42, 0.774);
}

.grid-container {
    width: 95%;
    margin: auto;
    height: auto;
    padding: 2%;
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

/*----------Galería con GRID: Items con imágenes----------*/
/*----------Galería con GRID: Items con imágenes----------*/
/*----------Galería con GRID: Items con imágenes----------*/

.item1 {
    grid-area: "item1";
    background-color: $color3;
    background-image: url(../images/mkt/afiche-publi-desfile.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(1);
}

.item2 {
    grid-area: "item2";
    background-color: $color3;
    background-image: url(../images/mkt/banner-desfile1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(1);
}

.item3 {
    grid-area: "item3";
    background-color: $color3;
    background-image: url(../images/mkt/tarjetas-comerciales.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(1);
}

.item4 {
    grid-area: "item4";
    background-color: $color3;
    background-image: url(../images/mkt/banner-desfile2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(1);
}

.item5 {
    grid-area: "item5";
    background-color: $color3;
    background-image: url(../images/mkt/pases-vip-desfile.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(1);
}

.item6 {
    grid-area: "item6";
    background-color: $color3;
    background-image: url(../images/mkt/entrada-desfile.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(1);
}

.item7 {
    grid-area: "item7";
    background-color: $color3;
    background-image: url(../images/mkt/mockup-dvd.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(1);
}

.item8 {
    grid-area: "item8";
    background-color: $color3;
    background-image: url(../images/mkt/entrada-desfileee.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(1);
}

.item9 {
    grid-area: "item9";
    background-color: $color3;
    background-image: url(../images/mkt/certificado-participacion-desfile.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(1);
}



@media only screen and (min-width: 360px) and (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    #gallery{
        margin: 0% 2% 5% 2%;
    }

    .grid-item {
        height: 25rem;
    }
}

@media only screen and (min-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .grid-item {
        min-width: 5rem;
        min-height: 15rem;
    }

    .item1 {
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .item4 {
        grid-row-start: 2;
        grid-row-end: 4;
    }

    .item2 {
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .item8 {
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .item9 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 7;
    }

    .item13 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 7;
        grid-row-end: 8;
    }

    .item15 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 8;
        grid-row-end: 10;
    }

    .item19 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 10;
        grid-row-end: 12;
    }

    .item21 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 10;
        grid-row-end: 12;
    }

    .item23 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 12;
        grid-row-end: 14;
    }

    .item27 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 14;
        grid-row-end: 15;
    }

    .item28 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 15;
        grid-row-end: 17;
    }
        
    #gallery{
        margin: 0% 2% 5% 2%;
    }
}
