* {
  font-family: "Ubuntu", sans-serif;
  margin: 0%;
  padding: 0%;
}

body {
  background-image: url(../images/fondo3d.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: repeat-y;
}

.heroIndex {
  background-image: url(../images/hero-portolio.jpg);
  background-size: cover;
  width: 100%;
}

.contBlur {
  background-size: contain;
  width: 95%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 3rem auto;
  position: center;
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
  z-index: 0;
  border-radius: 0.25rem;
  border: 0.15rem solid black;
  box-shadow: 10px 10px 5px rgba(29, 29, 29, 0.247), 0px -10px 5px rgba(32, 32, 32, 0.199);
}

.contBlurNegro {
  background-size: contain;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: center;
  background-color: rgba(0, 0, 0, 0.596);
  z-index: 0;
  border-radius: 0.25rem;
}

.containerServicios {
  background-color: rgba(0, 0, 0, 0.39);
  background-size: contain;
  width: 95%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 3rem auto;
  position: center;
}

.flex__servicios {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.flex__servicios--hijo {
  width: 360px;
  padding: 0.5rem;
  text-align: center;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  align-content: space-around;
}
.flex__servicios--hijo i {
  justify-content: space-evenly;
  font-size: 3rem;
  color: white;
  margin-bottom: 0.5rem;
}
.flex__servicios--hijo i:hover {
  color: #ad0963;
}
.flex__servicios--hijo h4 {
  text-align: center;
  color: #ff6fd4;
  font-weight: bold;
}
.flex__servicios--hijo p {
  text-align: left;
  color: white;
  font-size: 14px;
}
.flex__servicios--hijo .pinkLine {
  color: #ff6fd4;
  font-size: 1rem;
  text-align: center;
}

.mainSpace {
  margin-top: 3rem;
}

.container-nav {
  width: 95%;
  max-width: 60rem;
  margin: 0 auto;
}

#headerEfecto {
  background-color: rgba(0, 0, 0, 0.596);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.692), 0px -5px 5px rgba(0, 0, 0, 0.521);
}

header {
  background-image: url(../images/probando-fondo.jpg);
  border: 1px solid black;
  height: 4rem;
  padding: 1rem 0;
  position: relative;
  z-index: 100;
}

header::after {
  content: "";
  clear: both;
  display: block;
}

.logo {
  float: left;
  margin-top: -0.75rem;
  margin-left: 0.25rem;
}

.logo h1 {
  color: white;
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-top: 0.75rem;
}

.site__nav {
  top: 100%;
  right: 0%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.596);
  -webkit-clip-path: circle(0 at top right);
          clip-path: circle(0 at top right);
  transition: -webkit-clip-path ease-in-out 0.5s;
  transition: clip-path ease-in-out 0.5s;
  transition: clip-path ease-in-out 0.5s, -webkit-clip-path ease-in-out 0.5s;
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
}

.site__navAbrir {
  -webkit-clip-path: circle(150% at top right);
          clip-path: circle(150% at top right);
}

.site__nav ul {
  margin-top: 1.8rem;
  padding: 0%;
  list-style: none;
}

.site__nav li {
  border-bottom: 2px solid white;
}

.site__nav li:last-child {
  border-bottom: none;
}

.site__nav a {
  color: white;
  display: block;
  padding: 1rem 1rem;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.85rem;
}

.site__nav a:hover {
  border: 1px solid white;
  color: #5f5f5f;
  font-weight: bold;
}

.site__nav a:focus {
  background-color: rgba(196, 194, 194, 0.356);
  border: 1px solid white;
  color: #ff6fd4;
}

.site__nav--icon {
  display: inline-block;
  font-size: 0.9rem;
  margin-right: 1.5rem;
  width: 3rem;
  text-align: right;
  color: rgba(255, 255, 255, 0.616);
}

.menu-toggle {
  -webkit-backdrop-filter: blur(15rem);
          backdrop-filter: blur(15rem);
  border: 2px solid white;
  border-radius: 3px;
  padding: 1.2rem 1rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.menu-abierto .menu-hamburguesa {
  transform: rotate(45deg);
}

.menu-abierto .menu-hamburguesa::before {
  opacity: 0;
}

.menu-abierto .menu-hamburguesa::after {
  transform: translateY(-0.25rem) rotate(-90deg);
}

.menu-hamburguesa,
.menu-hamburguesa::before,
.menu-hamburguesa::after {
  content: "";
  display: block;
  background-color: white;
  height: 0.3rem;
  width: 1.5rem;
  border-radius: 0.5rem;
  transition: all ease-in-out 0.4s;
}

.menu-hamburguesa::before {
  transform: translateY(-0.55rem);
}

.menu-hamburguesa::after {
  transform: translateY(0.25rem);
}

@media only screen and (min-width: 767px) {
  header {
    border: none;
  }

  .menu-toggle {
    display: none;
  }

  .site__nav {
    height: auto;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    float: right;
    margin-top: -3rem;
    margin-right: 1rem;
    -webkit-clip-path: initial;
            clip-path: initial;
    text-align: center;
  }

  .site__nav li {
    display: inline-block;
    border: none;
  }

  .site__nav a {
    padding: 0;
    margin-top: 1.5rem;
    margin-left: 1rem;
  }

  .site__nav--icon {
    display: none;
  }

  .site__nav a:hover,
.site__nav a:focus {
    background-color: transparent;
    border: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .logo h1 {
    font-size: 1rem;
    margin-top: 1.22rem;
  }
}
.btnPink {
  background-color: #ff6fd4;
  color: white;
}

.btnPink:hover {
  background-color: #ad0963;
  color: white;
}

h4 {
  color: black;
}

p {
  color: black;
}

.form__contact {
  color: white;
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
  background-color: rgba(0, 0, 0, 0.671);
  border-radius: 5px;
  margin-top: 0%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  box-shadow: 0px 5px 5px rgba(29, 29, 29, 0.377), 0px -5px 5px rgba(32, 32, 32, 0.329);
}

.contact__h5 {
  font-weight: bold;
}

fieldset {
  border: 2px solid white;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.modalContainerRutinas {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.767);
  background-size: contain;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in;
}

.modalRutinasActive {
  visibility: visible;
  opacity: 1;
  z-index: 100;
}

/*
.modalRutinas{
    color: rgb(0, 0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 95%;
    height: 95%;
    border-radius: 0.5rem;
    text-align: center;
    padding: 1rem;
    margin: auto;
    overflow-y: scroll;
}
*/
.modalForm {
  color: black;
  background-color: white;
  background-size: contain;
  width: 50%;
  border-radius: 0.5rem;
  text-align: center;
  padding: 1rem;
  margin: auto;
}

.contBlurSobre {
  background-size: contain;
  width: 95%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 3rem auto;
  padding: 1rem;
  position: center;
  -webkit-backdrop-filter: blur(0.8rem);
          backdrop-filter: blur(0.8rem);
  z-index: 0;
  border-radius: 0.25rem;
  border: 0.15rem solid black;
  box-shadow: 10px 10px 5px rgba(29, 29, 29, 0.247), 0px -10px 5px rgba(32, 32, 32, 0.199);
}

.containerSobreMi {
  background-color: rgba(0, 0, 0, 0.596);
  background-size: contain;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: center;
}

.flex__sobremi {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.flex__sobremi--hijo {
  width: 360px;
  text-align: center;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  align-content: space-around;
  padding: 1rem;
}
.flex__sobremi--hijo img {
  background-size: contain;
  width: 100%;
}
.flex__sobremi--hijo .contFotoMia {
  height: 100%;
  flex-basis: 100%;
  margin: auto;
  justify-content: space-around;
  padding: 10%;
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
  border: 2px solid white;
  border-radius: 0.25rem;
  align-items: center;
}
.flex__sobremi--hijo h1 {
  text-align: center;
  color: #ff83c7;
  font-weight: bold;
}
.flex__sobremi--hijo p {
  text-align: left;
  color: white;
  font-size: 14px;
}

#logosSobreMi {
  height: 100%;
  flex-basis: 100%;
  justify-content: space-around;
  padding: 10%;
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
  border: 2px solid white;
  border-radius: 0.25rem;
  align-items: center;
}

.responsiveImg {
  width: 100%;
}

.blog-card {
  height: 280px;
  width: 350px;
  padding-left: 0;
  display: flex;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  background: white;
  line-height: 1.4;
  border-radius: 5px;
  overflow: hidden;
}
.blog-card a {
  color: inherit;
}
.blog-card:hover .photo {
  transform: scale(1.3);
}
.blog-card .meta {
  position: relative;
}
.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}
.blog-card .details, .blog-card .details ul {
  list-style-type: none;
}
.blog-card .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left 0.2s;
  background: rgba(0, 0, 0, 0.6);
  color: #ff83c7;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}
.blog-card .details a {
  text-decoration: none;
}
.blog-card .details ul li {
  display: inline-block;
  list-style: none;
}
.blog-card .details .author, .blog-card .details .data:before {
  margin-right: 10px;
}
.blog-card .description {
  padding: 1rem;
  background: white;
  position: relative;
  z-index: 1;
}
.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #ad0963;
  margin-top: 5px;
}
.blog-card .description .read-more {
  text-align: right;
}
.blog-card .description .read-more a {
  color: #ff83c7;
  display: inline-block;
  position: relative;
}
.blog-card .description .read-more a:after {
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin 0.3s, opacity 0.3s;
}
.blog-card .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}
.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}
.blog-card p:first-of-type {
  margin-top: 1.25rem;
}
.blog-card p:first-of-type:before {
  position: absolute;
  height: 5px;
  background: black;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}
.blog-card:hover .details {
  left: 0%;
}
@media (min-width: 360px) {
  .blog-card {
    flex-direction: row;
  }
  .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }
  .blog-card .description {
    flex-basis: 60%;
  }
  .blog-card .description:before {
    transform: skewX(-3deg);
    content: "";
    background: white;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .blog-card.alt {
    flex-direction: row-reverse;
  }
  .blog-card.alt .description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
  }
  .blog-card.alt .details {
    padding-left: 25px;
  }
}

.small-text {
  font-size: 12px;
  color: black;
}

.h5__cards {
  color: #ff83c7;
  font-weight: bold;
}

#footerEfecto {
  background-color: rgba(0, 0, 0, 0.596);
  width: 100%;
}

footer {
  background-image: url(../images/probando-fondo.jpg);
  background-size: contein;
  width: 100%;
}
footer div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  margin: auto;
  padding-top: 1rem;
}
footer div p {
  text-align: center;
  align-content: space-around;
  color: white;
}
footer div p a {
  text-decoration: none;
  color: white;
}
footer div p a:hover {
  color: #ff83c7;
}
footer .fab {
  font-size: 2rem;
  color: white;
  padding-bottom: 2rem;
}
footer .fab:hover {
  color: #ff83c7;
}/*# sourceMappingURL=style.css.map */